DiscountMeWP7/DiscountMe.WP7/Service References/DiscountMeService/DiscountMeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.iberasoft.com/webservices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.iberasoft.com/webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.iberasoft.com/webservices">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uniqueId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="User">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntidadBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Surname" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PasswordSalt" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="LastLoginDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="LastLoginIp" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsActivated" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsLockedOut" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="LastLockedOutDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="NewPasswordKey" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="NewPasswordRequestedDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="NewEmailKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Roles" type="tns:ArrayOfRol" />
              <s:element minOccurs="0" maxOccurs="1" name="Preferences" type="tns:ArrayOfUserPreferences" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntidadBase" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Country">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntidadBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Provinces" type="tns:ArrayOfProvince" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfProvince">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Province" nillable="true" type="tns:Province" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Province">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntidadBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Country" type="tns:Country" />
              <s:element minOccurs="0" maxOccurs="1" name="Cities" type="tns:ArrayOfCity" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfCity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="City" nillable="true" type="tns:City" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="City">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntidadBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Province" type="tns:Province" />
              <s:element minOccurs="0" maxOccurs="1" name="Addresses" type="tns:ArrayOfAddress" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfAddress">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="tns:Address" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Address">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntidadBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="User" type="tns:User" />
              <s:element minOccurs="0" maxOccurs="1" name="City" type="tns:City" />
              <s:element minOccurs="0" maxOccurs="1" name="Advertisers" type="tns:ArrayOfAdvertiser" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfAdvertiser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Advertiser" nillable="true" type="tns:Advertiser" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Advertiser">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntidadBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Surname" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Website" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Cif" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrimaryPhone" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrimaryFax" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PasswordSalt" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="LastLoginDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="LastLoginIp" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsActivated" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsLockedOut" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="LastLockedOutDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="NewPasswordKey" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="NewPasswordRequestedDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="NewEmailKey" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Address" type="tns:Address" />
              <s:element minOccurs="0" maxOccurs="1" name="Discounts" type="tns:ArrayOfDiscount" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfDiscount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Discount" nillable="true" type="tns:Discount" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Discount">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntidadBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Price" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="DiscountPercent" nillable="true" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="StockQuantity" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="StockWarningLevel" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="FromDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="UntilDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="IsPublished" nillable="true" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DiscountCategory" type="tns:DiscountCategory" />
              <s:element minOccurs="0" maxOccurs="1" name="Advertiser" type="tns:Advertiser" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DiscountCategory">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntidadBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Discounts" type="tns:ArrayOfDiscount" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="UserPreferences">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntidadBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="User" type="tns:User" />
              <s:element minOccurs="0" maxOccurs="1" name="DiscountCategoryPreferred" type="tns:DiscountCategory" />
              <s:element minOccurs="0" maxOccurs="1" name="AdvertiserPreferred" type="tns:Advertiser" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Rol">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntidadBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="RoleName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Users" type="tns:ArrayOfUser" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRol">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Rol" nillable="true" type="tns:Rol" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUserPreferences">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserPreferences" nillable="true" type="tns:UserPreferences" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListaCategorias">
        <s:complexType />
      </s:element>
      <s:element name="ListaCategoriasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListaCategoriasResult" type="tns:ArrayOfDiscountCategory" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDiscountCategory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DiscountCategory" nillable="true" type="tns:DiscountCategory" />
        </s:sequence>
      </s:complexType>
      <s:element name="DescuentosCercanos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="latitud" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="longitud" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="texto" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="rango" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="tns:DiscountCategory" />
            <s:element minOccurs="0" maxOccurs="1" name="medida" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DescuentosCercanosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DescuentosCercanosResult" type="tns:ArrayOfDiscountDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDiscountDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DiscountDTO" nillable="true" type="tns:DiscountDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DiscountDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DiscountPercent" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="StockQuantity" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StockWarningLevel" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FromDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="UntilDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsPublished" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Latitude" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Longitude" type="s:double" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ListaCategoriasSoapIn">
    <wsdl:part name="parameters" element="tns:ListaCategorias" />
  </wsdl:message>
  <wsdl:message name="ListaCategoriasSoapOut">
    <wsdl:part name="parameters" element="tns:ListaCategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="DescuentosCercanosSoapIn">
    <wsdl:part name="parameters" element="tns:DescuentosCercanos" />
  </wsdl:message>
  <wsdl:message name="DescuentosCercanosSoapOut">
    <wsdl:part name="parameters" element="tns:DescuentosCercanosResponse" />
  </wsdl:message>
  <wsdl:portType name="DiscountMeServiceSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListaCategorias">
      <wsdl:input message="tns:ListaCategoriasSoapIn" />
      <wsdl:output message="tns:ListaCategoriasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DescuentosCercanos">
      <wsdl:input message="tns:DescuentosCercanosSoapIn" />
      <wsdl:output message="tns:DescuentosCercanosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DiscountMeServiceSoap" type="tns:DiscountMeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://www.iberasoft.com/webservices/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaCategorias">
      <soap:operation soapAction="http://www.iberasoft.com/webservices/ListaCategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DescuentosCercanos">
      <soap:operation soapAction="http://www.iberasoft.com/webservices/DescuentosCercanos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DiscountMeService">
    <wsdl:port name="DiscountMeServiceSoap" binding="tns:DiscountMeServiceSoap">
      <soap:address location="http://localhost:1903/DiscountMeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>